.navbar {
    background-color: #1eb25b;
    margin-bottom: 29px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand > img {
    padding: 7px 14px;
}

.Logo {
    width: 89px;
    height: 40px;
    object-fit: contain;
}

.searchbar {
    width: 587.8px;
    height: 37px;
}

.searchtext {
    border-bottom-right-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border-left: none !important;
}

.searchicon {
    border-right: none !important;
    border-bottom-left-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
    background-color: white !important;
    color: #1baa56 !important;
}

.btn-kategori {
    color: white;
    font-size: 14px;
    font-weight: bolder;
    color: #ffffff;
}

.btn-masuk {
    background-color: #1eb25b !important;
    border: none !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: Lato;
}

.btn-navbar {
    border: solid 5px white !important;
    border-radius: 10% !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: Lato;
}

.btn-lang {
    width: 21px;
    height: 21px;
    object-fit: contain;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: Lato;
}

.font-white {
    color: #ffffff;
}

.font-login-green {
    color: #42b549;
}

.font-black {
    color: black;
}

.font-lato-14 {
    font-size: 14px !important;
    font-family: Lato;
}

.font-top {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #8e8e8e;
}

.font-section-heading {
    font-family: Lato;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #383746;
}

.font-lagi-nyari {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    color: #383746;
}

.font-footer {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.21;
}

.font-footer-playstore {
    font-size: 14px;
    color: #383746;
}

.image-main-cards {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.image-playstore-footer {
    width: 136px;
    height: 40px;
}

.image-179 {
    width: 179px;
    height: 151px;
    object-fit: contain;
}

.image-event {
    width: 464px;
    height: 179px;
    border-radius: 15px;
}

.image-card-news {
    width: 474px;
    height: 270px;
    border-radius: 5px;
}

.image-child-news {
    width: 179px;
    height: 118px;
}

.image-cards-main-carousel {
    width: 616px;
    height: 230px;
    object-fit: contain;
}

.cards-main {
    width: 162px !important;
    height: 152px !important;
    border-radius: 10px !important;
    border: solid 1px #cecece !important;
    margin-right: 45px !important;
}

.cards-main-carousel {
    width: 617px !important;
    height: 231px !important;
    margin-right: 20px !important;
}

.cards-kategori {
    border-radius: 15px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: #383746;
}

.cards-testimonial {
    width: 355px;
    height: 215px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-size: 14px !important;
    color: #383746;
}

.cards-pengadaan {
    width: 355px;
    height: 215px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-size: 14px;
    color: #383746;
}

.cards-179 {
    width: 182px;
    height: 152px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.cards-news {
    width: 474px;
    height: 270px;
    border-radius: 5px;
}

.footer-cards-179 {
    width: 182px;
    height: 30px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #cecece;
}

.footer-cards-news {
    width: 474px;
    height: 70px;
    opacity: 0.85;
    border-radius: 5px;
    background-color: #cecece;
}

.footer-main {
    background-color: #1eb25b !important;
    color: #ffffff;
}

.react-multiple-carousel__arrow {
    min-width: 27px;
    min-height: 27px;
    background-color: #4fba6f;
    border-radius: 30px !important;
}

.react-multi-carousel-dot--active button {
    background: #1baa56 !important;
}

.box-shadow {
    border-radius: 20px;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.cursor-pointer{
    cursor: pointer;
}

.container-main {
    width: 100%;
    margin-left: 0px;
}

.body {
    font-family: Lato !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
}

